NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://admin:root@localhost:5432/localhub?schema=public"

JWT_ACCESS_SECRET=f97e2976f0d337fba086d82a148ffa251b5b67dff849e62e84f0a10fc585bac2
JWT_REFRESH_SECRET=REFRESHSECRET
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d
